body {
  text-align: center;
  background: url("../images/1200x781-cookie-image.jpg");
  color: #fff;
  font-family: Helvetica;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
	background-color: #FAE8D2
	padding:40px;
	text-align: center;
	font-size:14px;
}

a {
	color: #4d4d4d;
	text-decoration: none;
	font-size: 16px;
	margin-right: 60px;

hr {
	width: 10px;
}

h1{
	font-weight: bold;
	font-size: 25px;
	padding-top: 40px;
	text-transform: uppercase;
}

.slogan {
	font-weight: bold;
	color: #fff;
	font-size: 80px;
	padding-top: 10px;
}

.main { 
	width: 400px; 
	border: 2px solid #fff;
	padding: 10px;

}