body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #666666;
	line-height: 1.5;
}

header {
	background-color: #FAE8D2
	padding:40px;

}

nav a {
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	float: right;
	margin-right: 10px;
}
