body {
  text-align: center;
  color: #fff;
  font-family: Helvetica;
  font-size:16px;
}

#topbar {
	background-color: #fbe8cc;
	background-size: cover;
	height:12em;
}

#cookie{
	width:1200px;
	height:auto;
 	margin:2em auto;
 	background-color: orange;

}

a {
	color: #4d4d4d;
	text-decoration: none;
	font-size: 1em;
	margin-right: 2em;
}

hr{
	border:none;
	height:3px;
	background-color: #4d4d4d;
	width:2em;
	margin:1em auto;
}

h1{
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 2em;
}

}

.footer{
	color:#fff;
	font-weight: bold;
}